<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
    <title>Google Tagmanager Partial</title>
</head>
<body>
<f:section name="main">
    <f:if condition="{settings.keys.googleTagManagerId}">
        <f:then>
            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="//www.googletagmanager.com/ns.html?id={settings.keys.googleTagManagerId}" height="0"
                        width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <script>
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                    var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', '<v:variable.get name="settings.keys.googleTagManagerId" />');
            </script>
            <!-- End Google Tag Manager -->
        </f:then>
    </f:if>
</f:section>
</body>
</html>