<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Footer Partial</title>
</head>
<body>
<f:section name="main">
	<footer>
		<f:render partial="Footer/Content" section="{settings.footer.menuType}" arguments="{_all}"/>
		<f:render partial="Footer/Navigation" section="main" arguments="{_all}"/>
	</footer>
</f:section>
</body>
</html>