<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Header Partial</title>
</head>
<body>
<f:section name="main">
	<header>
		<div class="header-wrapper">
			<f:render partial="Header/Logo" section="main" arguments="{_all}"/>
			<f:render partial="Header/Navigation" section="{settings.menu.menuType}" arguments="{_all}"/>
			<f:render partial="Header/TopMenu" section="main" arguments="{_all}"/>
		</div>
	</header>
</f:section>
</body>
</html>