<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
    <title>Footercontent Partial</title>
</head>

<body>

<f:section name="standard">
    <div class="footer-content">
        <v:content.render pageUid="{settings.pages.footerContent}"/>
    </div>
</f:section>

<f:section name="burger">
    <div class="footer-content">
        <input id="footerBurger-toggle" type="checkbox">
        <label for="footerBurger-toggle" class="footerBurger-toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </label>
        <v:content.render pageUid="{settings.pages.footerContent}"/>
    </div>
</f:section>
</body>
</html>