figure {
  height: 0;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;

    .js &[data-lazy-interchange] {
      transform:  translate(-50%, -50%);
      background: url('/typo3conf/ext/skin_paints/Resources/Public/Icons/loader.gif') no-repeat center center;
      height: rem-calc(64);
      left: 50%;
      position: absolute;
      top: 50%;
      width: rem-calc(64);
    }
  }
}