<html xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Footer Navigation Partial</title>
</head>
<body>
<f:section name="main">
	<div class="footer-navigation row">
		<div class="footer-copyright columns small-12 medium-12 large-6">
			<span>&copy;&nbsp;<f:format.date format="Y">{v:system.dateTime()}</f:format.date>&nbsp;
			<f:translate key="footer_copyright_company" /></span>
			<a href="http://{settings.footer.link}" target="_blank">{settings.footer.link}</a>
		</div>
		<div class="footer-menu columns small-12 medium-12 large-6">
			<v:page.menu pageUid="{settings.menu.footer}" linkActive="1" substElementUid="0" tagName="nav" class="simple-navigation"/>
		</div>
	</div>
</f:section>
</body>
</html>