$font-face-name: icons !default;
$font-file-prefix: '../Fonts/icons' !default;

$font-mappings: (
    burger: "\e600",
    plus: "\e601",
    arrow-left: "\e602",
    arrow-right: "\e603",
    download: "\e700",
    external: "\e701",
    call: "\e702",
    check: "\e800",
    facebook: "\e900",
    twitter: "\e901",
    goople-plus: "\e902"
) !default;

@font-face {
  font-family: '#{$font-face-name}';
  src: url(#{$font-file-prefix}.eot);
  src: url('#{$font-file-prefix}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-file-prefix}.woff') format('woff'), /* Moderne Browser */
  url('#{$font-file-prefix}.woff2') format('woff2'), /* Moderne Browser */
  url('#{$font-file-prefix}.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$font-file-prefix}.svg#svgFontName') format('svg'); /* Ältere iOS-Geräte */
}

@mixin cssicon($icon, $position: before, $color: inherit, $font-size: inherit, $font-style: normal, $line-height: inherit, $vertical-align: inherit) {
  &:#{$position} {
    font-family: $font-face-name;
    color: $color;
    font-size: $font-size;
    font-style: $font-style;
    line-height: $line-height;
    vertical-align: $vertical-align;

    @if map-has-key($font-mappings, $icon) {
      content: map-get($font-mappings, $icon);
    } @else {
      content: $icon;
    }
  }
}
