
body, p {
	@extend %COPY;
}

h1, .h1 {
  @extend %HEADLINE1;

  small {
    @extend %SUBLINE1;
  }
}

h2, .h2 {
  @extend %HEADLINE2;

  small {
    @extend %SUBLINE2;
  }
}

h3, .h3 {
  @extend %HEADLINE3;

  small {
    @extend %SUBLINE3;
  }
}

h1, h2, h3, h4, h5, h6, strong, .h1, .h2, .h3, .h4, .h5, .h6 {
  &.h1-style {
    @extend %HEADLINE1;

    small {
      @extend %SUBLINE1;
    }
  }
  &.h2-style {
    @extend %HEADLINE2;

    small {
      @extend %SUBLINE2;
    }
  }
  &.h3-style {
    @extend %HEADLINE3;

    small {
      @extend %SUBLINE3;
    }
  }
}

@include foundation-text-alignment;